body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header h1 {
    text-align: center;
    margin: 0;
}

main {
    padding: 15px;
}

h2 {
    color: #333;
}

.project {
    background: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

.project h3 {
    margin-top: 0;
}

.project a {
    color: #0779e4;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}